body{
    font-family: 'Archivo', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #faf4f2;
}
main{
    width: 100%;
    height: 800px;
    background-image: url(../imeges/logo1.webp);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* display: flex; */
}
header{
    width: 1340px;
    height: 105px;
    margin: 0px auto;
    padding: 25px 0px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
}
.header-left img{
    margin-right: 40px;
}
nav{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
nav ul, .header-right a{
    color: #D2D2D2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
}
.sing-in{
    padding: 11px 22px;
    border: 1px solid white;
    border-radius: 100px;
    margin-left: 19px;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
h1{
    width: 345px;
    height: 102px;
    color: #FFF;
    font-family: Archivo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}
.text-wrapper p{
    width: 500px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 36px auto 25px;
}
.text-wrapper a{
    width: 180px;
    height: 50px;
    padding: 16px 49px;
    border-radius: 100px;
    background: #E76F51;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.box-information{
    width: 1350px;
    height: 290px;
    margin: 200px auto 0px;
    display: flex;
    justify-content: space-between;
}
.box1, .box2, .box3, .box4{
    width: 320px;
    height: 287px;
    padding: 39px 20px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box-titli{
    color: #3B3735;
    text-align: center;
    font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 15px 0px 14px;
}
.box-p{
    color: #3B3735; 
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
}
.places-sec{
    width: 1340px;
    height: 1749px;
    padding: 100px 0px;
    margin: auto;
    margin-bottom: 100px;
}
.place-logo{
    margin: 60px auto 45px;
    display: block;
}
.places-sec h3{
width: 287px;
height: 90px;
margin: 0px auto 38px;
color: #3B3735;
text-align: center;
font-family: Archivo;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
}
.travel-destinations{
    width: 1340px;
    height: 1305px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.places{
    width: 320px;
    height: 415px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.places-img1{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/imege1.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img2{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/imege2.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img3{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image3.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img4{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image4.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img5{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image5.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img6{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image6.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img7{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image7.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img8{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image8.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img9{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image9.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img10{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image10.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img11{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image11.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-img12{
    width: 280px;
    height: 180px;
    background-image: url(../imeges/image12.png);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price{ 
    width: 120px;
    height: 36px;
    padding: 5px 20px;
    border-radius: 10px;
    background: #FFF;
    color: #E76F51;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 96px;
}
.heart{
    display: block;
    margin: 15px 0px 0px 225px;
}
h4{
    color: #3B3735;
    text-align: center;
    font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    margin: 30px auto 12px;
}
.cemp{
    color: #3B3735;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 30px;
}
.read-more{
    display: flex;
    width: 180px;
    height: 50px;
    padding: 15.2px 50.971px 15.8px 51.29px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgba(141, 141, 141, 0.10);
    color: #8D8D8D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    margin: 0px auto;
}
.all{
    display: flex;
    width: 180px;
    height: 50px;
    padding: 14px 55px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #E76F51;
    margin: 30px auto 60px;
    color: #E76F51;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
}
footer{
    width: 100%;
    height: 460px;
    padding: 100px 148px 0px;
    border-radius: 100px 100px 0px 0px;
    background: #F8E1DB;
}
.footer-box{
    width: 1370px;
    height: 278px;
    display: flex;
    justify-content: space-between; 
    margin: auto;
}
.box-left{
    width: 500px;
    height: 278px;
}
.box-right{
    width: 500px;
    height: 300px;
    display: flex;
    column-gap: 20px;
}
h5{
    color: #3B3735;
    font-family: 'Archivo';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 10px;
}
.box-footer1, .box-footer2, .box-footer3{
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    column-gap: 7px;
}
.footer-link{
    color: #3B3735;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
}
.dowland{
    margin-top: 20px;
}
.app{
    margin-right: 4px;
}
.finish{
    text-align: center;
    margin-top: 23px;
}